/* CSS variables part start */
:root{
    --font_family: 'Poppins', sans-serif;
    --font_family_nunito_sans: 'Nunito Sans', sans-serif;
    --dark_green_color: #007F5F;
    --white_color: #FFFFFF;
    --gray_white_color: #1E1E1E;
    --all_heading_black_color: #292929;
    --all_paragraph_black_color: #6A6A6A;
    --orange_color: #FF8B00;

}
/* CSS variables part end */
/* Common CSS part start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
p, a, ul, ol, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
ul, ol, li{
    list-style: none;
}
.common_btn a{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font_family);
    padding: 16px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
}
.common_btn a:hover{
    transform: scale(1.1);
}
.all_section_heading h2{
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font_family);
    text-align: center;
}
/* Common CSS part end */

/* Navbar part start */
nav{
    color: var(--white_color);
    padding: 40px 0 !important;
}
.nav_items ul{
    gap: 30px;
}
.nav_items ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
}
/* Navbar part end */

/* Banner part start */
#banner{
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative;
    z-index: 1; */
}
.overlay{
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
    padding: 148px 0 122px 0;
    color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.banner_info{
    width: 573px;
}
.banner_info h1{
    color: var(--white_color);
    font-size: 65px;
    font-weight: 600;
    font-family: var(--font_family);
    line-height: 80px;
}
.banner_info p{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
    padding: 30px 0 40px 0;
}
.banner_location{
    width: fit-content;
    border-radius: 17px;
    margin-top: 60px;
    padding: 35px 23px;
    background: var(--white_color);
    display: flex;
    align-items: center;
}
.banner_location button{
    color: var(--white_color);
    background: var(--dark_green_color);
    border: none;
    border-radius: 17px;
    padding: 30px;
    margin-left: 70px;
}
.banner_location .location_items{
    gap: 70px;
}
.banner_location .location_items h3{
    color: var(--all_heading_black_color);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font_family_nunito_sans);
    line-height: 26px;
}
.banner_location .location_items h3 span{
    padding: 0 20px 0 10px;
}
.banner_location .location_items i.agreenb{
    color: var(--dark_green_color);
}
.banner_location .location_items input{
    border: none;
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family_nunito_sans);
    margin-left: 26px;
}
/* Banner part end */
/* Travel part start */
#travel{
    padding: 171px 0 213px 0;
}
.all_section_heading p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
    width: 692px;
    margin: 0 auto;
    padding: 20px 0 112px 0;
    text-align: center;
}
.travel_items{
    padding: 14px 30px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -6px rgba(0,0,0,0.75);
}
.travel_items .travel_info{}
.travel_info{
    /* padding: 63px 61p; */
}
.travel_info img{
    background: rgba(0, 127, 95, 0.1);
    padding: 19px 24px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.travel_info h3{
    color: var(--all_heading_black_color);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font_family);
    line-height: 24px;
    padding: 39px 0 20px 0;
}
.travel_info p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
}
/* Travel part end */
/* Popular part start */
#popular{
    padding-bottom: 150px;
}
.popular_slider{}
.popular_slider .slick-center{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -6px rgba(0,0,0,0.75);
}
.popular_slider .slider_items{
    padding: 20px 20px 42px;
}
.popular_slider .slider_items ul{
    display: flex;
    gap: 30px;
    margin: 37px 0 17px 0 !important;
}
/* .popular_slider .slider_items ul li{
    gap: 30px;
} */
.popular_slider .slider_items ul li i{
    color: #E0E0E0;
}
.popular_slider .slider_items ul li span i{
    color: var(--orange_color);
}
.popular_slider .slider_items ul li p{
    color: var(--orange_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font_family);
}
.popular_slider .slider_items p{
    /* width: 325px; */
    margin: 20px 0;
}
.popular_slider .slider_items p span{
    color: var(--all_heading_black_color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    font-family: var(--font-family);
}
.popular_slider .slider_items a{
    border: none;
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_family);
    padding: 10px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
    margin-top: 40px;
}
.popular_slider .slider_items .slider_image{
    /* width: 329px; */
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    overflow: hidden;
}
/* Popular part end */

/* Counter part start */
#counter{
    background: rgba(0, 0, 0, 0.05);
    padding: 150px 0;
}
.counter_text{
    /* width: 516px; */
}
.counter_text h2{
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font_family);
    padding: 60px 0 20px;
}
.counter_text p{
    /* color: #616161; */
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--font_family);
}
.counter_text ul{
    /* display: flex; */
}
.counter_text ul li{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}
.counter_text ul li span{
    color: var(--dark_green_color);
}
.counter_text ul li i{
    font-size: 26px;
}
.counter_text ul li p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--font_family);
    margin-bottom: 10px;
}
.counter_count{
    padding: 62px 32px;
    background: var(--white_color);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.counter_count:hover{
    background: var(--dark_green_color);
    color: var(--white_color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.counter_count .counter_icon{
    background: rgba(0, 127, 95, 0.4);
    padding: 22px 20px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    width: fit-content;
    margin-bottom: 20px;
}
.counter_count:hover .counter_icon{
    background: var(--white_color);
}
.counter_count .counter_icon span i{
    color: var(--dark_green_color);
    font-size: 1.1rem;
}
.counter_count h3{}
.counter_count h4{
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font_family);
}
/* .counter_count .counter_icon h3:hover{
    color: var(--white_color);
} */
/* Counter part end */

/* Features part start */
#features{
    padding: 150px 0;
    align-items: center;
    justify-content: center;
}
.features_text{
    margin-top: 30px;
}
.features_text h2{
    color: var(--all_heading_black_color);
    font-size: 36px;
    font-weight: 600;
    font-family: var(--font_family);
}
.features_text p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    margin: 20px 0 40px 0;
}
.features_text ul li span i{
    color: var(--dark_green_color);
    margin-right: 10px;
}
.features_text ul li span i{}
.features_btn a{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_family);
    padding: 16px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
    margin-top: 40px;
}

.features_img{}
.emoji{
    position: relative;
}
.features_img p{
    padding: 10px 20px;
    color: var(--all_paragraph_black_color);
    background: white;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family_nunito_sans);
    box-shadow: 0px 1px 2px var(--all_paragraph_black_color);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
.features_img p#hi{
    position: absolute;
    left: 7%;
    bottom: 28%;
}
.features_img p#can{
    position: absolute;
    left: 14%;
    bottom: 15%;
}
.features_img p#thans{
    position: absolute;
    left: 6%;
    bottom: 0;
}

.middle_gap{
    padding: 100px 0;
}
.accordion{
    width: 420px;
}
.accordion-item{
    border: none;
}
.features_bg .accordion-button:not(.collapsed){
    background: rgba(0, 127, 95, 0.1);
    color: var(--all_heading_black_color);
}
.features_bg .accordion-button:not(.collapsed) span{
    background: var(--dark_green_color);
    border: #007F5F;
}
.features_bg .accordion-item{
    background: rgba(0, 127, 95, 0.1);

}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button span{
    width: 17px;
    height: 17px;
    border: 2px solid var(--all_paragraph_black_color);
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Features part end */

/* Testimonial part start */
#testimonial{
    padding: 150px 0;
}
.testimonial_images{
    position: relative;
    height: 100%;
}
.testimonial_images .testi_img1 {
    width: 114px;
    position: absolute;
    top: -100px;
    right: 65px;
}
.testimonial_images .testi_img2 {
    width: 80px;
    position: absolute;
    top: 25%;
    right: 35%;
}
.testimonial_images .testi_img3 {
    width: 123px;
    position: absolute;
    top: 30%;
    left: 0;
}
.testimonial_images .testi_img4 {
    width: 84px;
    position: absolute;
    bottom: -25px;
    right: 45px;
}
.testimonial_images .testi_img5 {
    width: 107px;
    position: absolute;
    top: 100%;
    right: 48%;
}

.testi_text{}
.testi_text h2{
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 600;
    font-weight:  var(--font-family);
}
.testi_text p{
    color: var(--dark_green_color);
    font-weight: 45px;
    padding: 41px 0 24px;
}
.testi_text p i{}
.testi_slide{}
.testi_slide .slick-dots{
    display: flex;
    gap: 10px;
}
.testi_slide .slick-dots li button{
    border: none;
    font-size: 0;
    background: var(--all_paragraph_black_color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testi_slide .slick-dots .slick-active button{
    background: var(--dark_green_color);
}
.testi_slide .slide_items {}
.testi_slide .slide_items p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-weight:  var(--font-family);
}
.testi_slide .slide_items h3{
    color: var(--all_heading_black_color);
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-weight:  var(--font-family);
    padding: 24px 0 16px;
}
/* Testimonial part end */

/* Subscribe part start */
#subscribe{
    padding: 150px 0;
}
.sub_items{
    width: 580px;
    text-align: center;
    margin: 0 auto;
}
.sub_items h2{
    color: var(--white_color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font_family);
}
.sub_items p{
    color: var(--white_color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--font_family);
    padding: 20px 0 52px;
}
.sub_input{
    text-align: center;
    position: relative;
}
.sub_input input{
    border: none;
    width: 770px;
    background: var(--white_color);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    padding: 35px 25px;
}
/* .sub_input button{
    border: none;
    padding: 30px 40px;
    width: 159px;
    background: var(--dark_green_color);
    color: var(--white_color);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    margin-left: 590px;
} */
.sub_btn{
}
.sub_btn .common_btn {
    position: absolute;
    top: 72.5%;
    right: 11%;
}
.sub_btn .common_btn a{
    padding: 29px 39px;
}
/* Subscribe part end */

/* Footer part start */
footer{
    padding: 115px 0 105px;
}
.footer_items1{
}
.footer_items1 .footer_links{
    padding: 69px 0 46px;
}
.footer_items1 .footer_links a{
    margin-right: 30px;
    font-weight: 48px;
}
.footer_items1 .footer_links a#red{
    color: red;
}
.footer_items1 .footer_links a i{}
.footer_items1 .p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--font-family);
}
.fitems2{
    margin-left: 60px;
}
/* .fitems2 .tour{
    width: 70px;
}
.fitems2 .support{
    width: 134px;
}
.fitems2 .usefullpages{
    width: 165px;
} */
.fitems2 h3{
    color: var(--all_heading_black_color);
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-family);
    margin-bottom: 30px;
}
.fitems2 .fitems2_links h3{}
.fitems2 .fitems2_links a{
    display: block;
    text-decoration: none;
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    font-family: var(--font-family);
    padding: 7px 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.fitems2 .fitems2_links a:hover{
    color: var(--dark_green_color);
}
/* Footer part end */